In [1]:
#Importing Libraries

import pandas as pd
import numpy as np

In [2]:
# Importing Production Data having all the values.

prd_data = pd.read_excel('Files\PRD_data.xlsx',index_col='Shop')

In [3]:
prd_data

            Item  Count
Shop
Shop1      Choco    100
Shop2      Lolly    200
Shop3      Candy    700
Shop4     Waffle    800
Shop5  Ice-cream    450

In [4]:
# Importing QA Data to be compared with production data.

qa_data = pd.read_excel('Files\QA_data.xlsx',index_col='Shop')

In [5]:
qa_data

            Item  Count
Shop
Shop1      Choco    100
Shop2      Lolly    122
Shop3      Berry    700
Shop4     Waffle    800
Shop5  Ice-cream    450

In [6]:
#Creating Output File

output_data = pd.DataFrame()
output_data['Shop'] = prd_data.index.values
output_data['Item'] = np.where((prd_data['Item']!=qa_data['Item']),'NA',qa_data['Item'])
output_data['Count'] = np.where((prd_data['Count']!=qa_data['Count']),'NA',qa_data['Count'])
output_data['Match_Mismatch'] = np.where((prd_data['Item']!=qa_data['Item']) | (prd_data['Count']!=qa_data['Count']),'False','True')
output_data.set_index('Shop', inplace=True)

In [7]:
output_data

            Item Count Match_Mismatch
Shop
Shop1      Choco   100           True
Shop2      Lolly    NA          False
Shop3         NA   700          False
Shop4     Waffle   800           True
Shop5  Ice-cream   450           True

In [8]:
output_data.to_excel('Files\Output_Data.xlsx')